<div class="row product-row">
  <% if @products != [] %>
      <% @products.each do |product| %>
      <a href="<%= @category.name %>/products/<%= product.id %>">
        <div class="category-product small-12 medium-3 columns">
          <div class="product-thumbnail">
            <img src="<%= product.image_url(:thumbnail) %>" />
          </div>
          <div class="row product-text">
            <b><%= product.builder.name %> <%= product.name %></b><br />
            <% if product.unfinished_prices != nil %>
              <% if product.builder.name != "Evergreen" && product.builder.name != "Penns Creek" %>
                <% starting_at = ((product.unfinished_prices["0"].first.to_i) * (0.75)).round %>
                Starting at: $<%= starting_at %>.99
              <% elsif product.builder.name == "Penns Creek" %>
                <% starting_at = (product.unfinished_prices["0"].first.to_i) %>
                Starting at: $<%= starting_at %>.99
              <% else %>
                <% starting_at = (product.unfinished_prices["0"].first.to_i) %>
                Starting at: $<%= starting_at %>.99
              <% end %>
            <% end %>
          </div>
        </div>
      </a>
      <% end %>
  <% end %>
</div>

<% if current_admin != nil %>
  <%= link_to "add new product", new_category_product_path(@category.name) %><br />
  <%= link_to "edit category info", edit_category_path(@category.name) %><br />
  <span class="delete-link">
    <%= link_to "delete category", category_path(@category), {method: :delete} %>
  </span>
<% end %>
