<% if @eg_products != [] %>
  <div class="row product-row">
    <% @eg_products.each_with_index do |product, index| %>
      <a href="<%= @category.id %>/products/<%= product.id %>">
        <div class="category-product small-12 medium-3 columns">
          <div class="product-thumbnail">
            <img src="<%= product.image_url(:thumbnail) %>" />
          </div>
          <div class="row product-text">
            <b><%= product.builder.name.split(" ")[0]%> <%= product.name %></b><br />
            <% if product.unfinished_prices != nil %>
            <%
              if product.builder.name != "Evergreen"
                starting_at = (product.unfinished_prices["0"].first.to_i * 3/4)
              else
                starting_at = product.unfinished_prices["0"].first
              end
            %>
              Starting At: $<%= starting_at %>.99
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% end %>

<% if @bk_products != [] %>
  <div class="row product-row">
    <% @bk_products.each_with_index do |product, index| %>
      <% if product.name.split("-")[0] == "Design" %>
        <a href="<%= @category.id %>/products/<%= product.id %>">
          <div class="category-product design-your-own small-12 columns end">
            <b><%= product.name %></b><br />
          </div>
        </a>
      <% else %>
        <a href="<%= @category.id %>/products/<%= product.id %>">
          <div class="category-product small-12 medium-3 columns">
            <div class="product-thumbnail">
              <img src="<%= product.image_url(:thumbnail) %>" />
            </div>
            <div class="row product-text">
              <b><%= product.builder.name.split(" ")[0]%> <%= product.name %></b><br />
              <% if product.unfinished_prices != nil %>
              <%
                if product.builder.name != "Evergreen"
                  starting_at = (product.unfinished_prices["0"].first.to_i * 3/4)
                else
                  starting_at = product.unfinished_prices["0"].first
                end
              %>
                Starting At: $<%= starting_at %>.99
              <% end %>
            </div>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @arch_products != [] %>
  <div class="row product-row">
    <% @arch_products.each do |product| %>
    <a href="<%= @category.id %>/products/<%= product.id %>">
      <div class="category-product small-12 medium-3 columns">
        <div class="product-thumbnail">
          <img src="<%= product.image_url(:thumbnail) %>" />
        </div>
        <div class="row product-text">
          <b><%= product.builder.name.split(" ")[0]%> <%= product.name %></b><br />
          <% if product.unfinished_prices != nil %>
          <%
            if product.builder.name != "Evergreen"
              starting_at = (product.unfinished_prices["0"].first.to_i * 3/4)
            else
              starting_at = product.unfinished_prices["0"].first
            end
          %>
            Starting At: $<%= starting_at %>.99
          <% end %>
        </div>
      </div>
    </a>
    <% end %>
  </div>
<% end %>

<% if @penns_products != [] %>
  <div class="row product-row">
    <% @penns_products.each do |product| %>
    <a href="<%= @category.id %>/products/<%= product.id %>">
      <div class="category-product small-12 medium-3 columns">
        <div class="product-thumbnail">
          <img src="<%= product.image_url(:thumbnail) %>" />
        </div>
        <div class="row product-text">
          <b><%= product.builder.name.split(" ")[0..1]%> <%= product.name %></b><br />
          <% if product.unfinished_prices != nil %>
          <%
            if product.builder.name != "Evergreen"
              starting_at = (product.unfinished_prices["0"].first.to_i * 3/4)
            else
              starting_at = product.unfinished_prices["0"].first
            end
          %>
            Starting At: $<%= starting_at %>.99
          <% end %>
        </div>
      </div>
    </a>
    <% end %>
  </div>
<% end %>

<% if current_admin != nil %>
  <%= link_to "add new product", new_category_product_path(@category) %><br />
  <%= link_to "edit category info", edit_category_path(@category) %><br />
  <span class="delete-link">
    <%= link_to "delete category", category_path(@category), {method: :delete} %>
  </span>
<% end %>
