<%= form_for [@category, @product], html: { multipart: true } do |f| %>
  <div class="small-12 large-8 columns field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br /><br />
  <div class="small-12 large-8 columns field">
    <%= f.label :blurb %>
    <%= f.text_field :blurb %>
  </div>

  <div class="small-12 large-8 columns field">
    <%= f.label :description %>
    <%= f.text_area :description, style:"height: 150px;" %>
  </div>

  <div class="small-12 large-8 columns field">
    <%= f.label :build_material %>
    <%= f.text_field :build_material %>
  </div>

  <div class="small-12 large-8 columns field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br />
  <div class="small-12 large-8 columns field">
    <%= f.submit 'Update Product' %>
  </div>
<% end %>
