<div class="row">
  <div class="small-12 large-12 columns product-title">
    <h1><%= @product.name %></h1>
    <h3><%= @product.builder.name %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns edit-product-image">
    <%= image_tag @product.image_url(:standard) %><br />
  </div>
  <div class="small-12 large-6 columns">
    <h4><%= @product.description %></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 large-6 columns pricing">
    <% if @product.pricing_object != nil %>
      <h4>unfinished prices</h4>
      <table class="unfinished-pricing-table" id="unfinished-pricing-table-<%= @product.id %>">
      </table>
    </div>
    <div class="small-12 large-6 columns pricing">
      <h4>finished prices</h4>
      <table class="unfinished-pricing-table" id="finished-pricing-table-<%= @product.id %>">
      </table>
    <% end %>
  </div>
</div>
<hr>
<% if current_admin != nil %>
  <%= link_to "edit product info", edit_category_product_path(@category, @product) %><br />
  <% if @product.pricing_object != nil %>
    <%= link_to "edit pricing info", edit_pricing_path(@pricing_object) %>
  <% else %>
    <%= link_to "add pricing", new_pricing_path(product_id: @product.id, category_id: @category.id) %>
  <% end %>
<% end %>
