<%= include_gon %>
<div class="row top-row">
  <div class="small-12 large-4 columns edit-product-image">
    <%= image_tag @product.image_url(:standard) %><br />
  </div>
  <div class="small-12 large-8 columns product-description">
      <h2><%= @product.builder.name %> <%= @product.name %></h2>
      <p><%= @product.description %></p>
  </div>
</div>
<div class="row">
  <% if @product.builder != "Penns Creek" %>
    <div class="small-12 large-6 columns pricing" id="unfinished-pricing">
      <% if @product.pricing_object != nil %>
        <table class="unfinished-pricing-table" id="unfinished-pricing-table-<%= @product.id %>">
        </table>
      </div>
      <div class="small-12 large-6 columns pricing" id="finished-pricing">
        <table class="unfinished-pricing-table" id="finished-pricing-table-<%= @product.id %>">
        </table>
      <% end %>
    </div>
  <% else %>
  <div class="small-12 large-12 columns pricing" id="finished-pricing">
    <% if @product.pricing_object != nil %>
      <table class="unfinished-pricing-table" id="finished-pricing-table-<%= @product.id %>">
      </table>
    <% end %>
  </div>
  <% end %>

</div>
<div class="row">
  <div class="small-12 columns finishes" id="unfinished-pricing">
    <% @colors.each do |color| %>
      <div class="color-div end">
        <img src="/images/colors/test.png" class="color-image"/>
        <h4><%= color %><h4>
      </div>
    <% end %>
  </div>
</div>
<% if current_admin != nil %>
  <%= link_to "edit product info", edit_category_product_path(@category, @product) %><br />
  <% if @product.pricing_object != nil %>
    <%= link_to "edit pricing info", edit_pricing_path(@pricing_object) %>
  <% else %>
    <%= link_to "add pricing", new_pricing_path(product_id: @product.id, category_id: @category.id) %>
  <% end %>
  <br />
  <span class="delete-link">
    <%= link_to "delete product", category_product_path(@category, @product), {method: :delete} %>
  </span>
<% end %>
