<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sanchez|Biryani:200" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/4d47250886.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32486902-2', 'auto');
      ga('send', 'pageview');

    </script>
    <title><%= content_for?(:title) ? yield(:title) : "bostonwood" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= include_gon(init: true) %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <a href="<%= root_path %>" >
      <div class="top-header">
        <div class="hours">
          <h3>
          Mon - Fri : 10 AM  - 7 PM<br/>
          Sat : 10 AM - 6 PM<br />
          Sun : 11 AM - 5 PM
          </h3>
        </div>
        <div class="header-center">
          <img src="/images/green-logo.jpeg" class="site-logo" />
        </div>
        <div class="flag">
          <div class="flag-container">
            <img src='http://www.clker.com/cliparts/8/6/4/d/1194989080968212979united_states_daniel_mcr_01.svg.thumb.png'  class="flag-image"/>
            <p>MADE IN U.S.A.</p>
          </div>
        </div>
      </div>
    </a>
    <div class="sidebar">
      <div class="side-nav">
        <ul role="navigation" title="Category List">
          <br />
          <% if current_admin != nil %>
            <%= link_to "sign out of admin", destroy_admin_session_path, method: :delete %><br />
            <%= link_to "+ new builder", new_builder_path %><br />
            <%= link_to "+ new category", new_category_path %>
            <hr>
          <% end %>
          <a href="/" class="top-link">
            <b>HOME</b>
          </a>
          <br />
          <a href="/site/1/locations" class="top-link">
            <b>LOCATIONS</b>
          </a>
          <br/>
          <% sorted_category = nil || Category.all.sort_by {|cat| cat.name.downcase} %>
          <% sorted_category.each_with_index do |category, index| %>
            <% if index == sorted_category.length - 1 %>
              <%= link_to category.name, category_path(category.name), class:"last-link" %><br />
            <% else %>
              <%= link_to category.name, category_path(category.name) %><br />
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="main small-12 medium-10 columns">
      <span style="font-size:30px;cursor:pointer" class="open-button" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
      <% flash.each do |key, value| %>
        <div class="flash-container">
            <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
