<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sanchez|Biryani:200" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/4d47250886.js"></script>

    <title><%= content_for?(:title) ? yield(:title) : "bostonwood" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= include_gon(init: true) %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <a href="<%= root_path %>" >
      <div class="top-header">
        <img src="/images/logo.jpeg" class="site-logo"/>
      </div>
    </a>
    <div class="sidebar small-12 medium-2 columns">
      <ul class="side-nav" role="navigation" title="Category List">
        <% if current_admin != nil %>
          <%= link_to "sign out of admin", destroy_admin_session_path, method: :delete %><br />
          <%= link_to "+ new builder", new_builder_path %><br />
          <%= link_to "+ new category", new_category_path %>
          <hr>
        <% end %>
        <a href="/" class="top-link">
          <i class="fa fa-home top-icon" aria-hidden="true"></i>
          HOME
        </a>
        <br />
        <a href="/site/1/locations" class="top-link">
          <i class="fa fa-map-marker top-icon" aria-hidden="true"></i>
          LOCATIONS
        </a>
        <br/><br/>
        <% sorted_category = Category.all.sort_by {|cat| cat.name.downcase} %>
        <% sorted_category.each do |category| %>
          <%= link_to category.name, category_path(category.id) %><br />
        <% end %>
      </ul>
    </div>
    <div class="main small-12 medium-10 columns">
      <% flash.each do |key, value| %>
        <div class="flash-container">
            <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
