<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sanchez" rel="stylesheet">
    
    <title><%= content_for?(:title) ? yield(:title) : "bostonwood" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <a href="<%= root_path %>" >
      <div class="top-header">
        <h1>bostonwood</h1>
      </div>
    </a>
    <div class="sidebar small-12 medium-2 columns">
      <ul class="side-nav" role="navigation" title="Category List">
        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category.id) %>
        <% end %>
      </ul>
    </div>
    <div class="main small-12 medium-10 columns">
      <% flash.each do |key, value| %>
        <div class="flash-container">
            <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
